################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console/GrantPreConsentConsoleApp/bin/Debug
/Console/GrantPreConsentConsoleApp/obj/Debug
/Console/.vs/GrantPreConsentConsoleApp/v15
